body {
  margin: 0;
  font-family: system-ui;
  font-size: '1rem';
  /*`'sans-serif','Inter', 'Roboto', 'Helvetica', 'Arial', sans-serif`,*/

  /*font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;*/
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.NPathway {
  stroke: #fff;
  stroke-width: 1.5px;
  width: 35px;
  height: 25px;
  background-color: blue;
}

.Gene {
  stroke: red;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: 0.6;
  stroke-width: 2px;
}

.moving {
  background-color: '#0074c2';
}

.selected {
  background-color: '#2ecc71';
}

.path {
  background-color: 'orange';
}
