# Ignorar dependencias locales
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json.*

# Archivos del sistema
.DS_Store
Thumbs.db

# Configuración del IDE
.vscode
.idea
*.swp

# Archivos de pruebas / cachés
coverage
.env